
.btn{
  width: 150px;
  height: 50px;
  background-color: chocolate;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}
.names {
  width: 200px;
  height: 25px;
  margin: 10px;
}

.data {
  width: 200px;
  height: 25px;
  margin: 10px;
}
.formInput {
  display: flex;
  flex-direction: column;
  font-family: cursive;
  color: indigo;
}